html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.header {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #2d303a;
    font-weight: 700;
}

.header > .wrapper {
    width: 1020px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 95px;
    padding: 0 39px;
    letter-spacing: -0.015rem;
}

.header__navigation, .logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

.logo {
    font-weight: 500;
    font-size: 2.35rem;
    margin-bottom: 22px;
    margin-left: 1px;
    letter-spacing: 0.05rem;
}

.logo > span {
    color: #f06c64;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu__item {
    list-style-type: none;
    margin: 3px 0 0 30px;
    font-size: 1.2rem;
}

.menu__item:not(:first-child)::before {
    content: ".";
    position: absolute;
    bottom: 40px;
    font-size: 2rem;
    margin-left: -17px;
    color: #3a3e4d;
}

.menu__item > a {
    color: white;
    text-decoration: none;
}

.menu__item > a:hover {
    color: #f06c64;
}

.main {
    position: relative;
    top: 95px;
}

.slider {
    display: flex;
    align-items: center;
    height: 600px;
    background-color: #f06c64;
}

.slider > .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    width: 100%;
}

.arrow {
    background: url('assets/images/right.png') no-repeat transparent;
    height: 4rem;
    width: 2.7rem;
    border: none;
}

.arrow:hover {
    filter: grayscale(60%);
}

.phone {
    margin-bottom: 12px;
}

.horizontal {
    margin-left: 22px;
}

.vertical {
    margin-left: 1px;
}

.arrow_prev {
    transform: rotateY(180deg);
}

.our-services {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}

.our-services > .wrapper {
    width: 1020px;
    height: 450px;
    padding: 34px 40px;
    color: #666d89;
}

.our-services__header {
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 18px;
}

.our-services__description {
    font-weight: 300;
    font-size: 1.7rem;
    letter-spacing: 0.04rem;
    line-height: 3rem;
    text-align: justify;
}

.layout-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.layout-columns_first-services {
    margin-top: 2.5rem;
}

.card {
    display: flex;
    flex-direction: row;
    width: 300px;
}

.card__img {
    margin: 0 15px 20px 0;
}

.card__header {
    font-size: 2rem;
    text-transform: capitalize;
    letter-spacing: -0.08rem;
    margin: 16.6px 0 10px 3px;
}

.card__description {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: justify;
    margin: 10px 0 12px 3px;
}
