.portfolio {
    background-color: #2d303a;
    color: #666d89;
    height: 864px;
    border-bottom: 6px solid #323746;
}

.portfolio > .wrapper, .about-us > .wrapper {
    padding: 42px 40px;
}

.portfolio__header {
    text-transform: capitalize;
    margin: 20px 0;
    letter-spacing: 0.06rem;
    font-size: 2.9rem;
}

.portfolio__description {
    margin-top: 22px;
    font-weight: 200;
    letter-spacing: 0.08rem;
}

.portfolio__tags {
    margin-bottom: 22px;
}

.tag {
    border: 0.1rem solid #666d89;
    border-radius: 5px;
    font-size: 1.1rem;
    text-transform: capitalize;
    padding: 4px 8px;
    margin-right: 7px;
    letter-spacing: 0.001rem;
    cursor: pointer;
}

.tag:hover {
    color: white;
}

.portfolio__image-rows {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.portfolio__image-rows > img:nth-child(n+13) {
    display: none;
}

.about-us {
    background-color: #f2f2f2;
    color: #666d89;
    height: 728px;
    border-bottom: 6px solid white;
}

.about-us__header {
    text-transform: capitalize;
    margin: 18px 0;
    letter-spacing: 0.06rem;
    font-size: 2.9rem;

}

.about-us__description {
    font-weight: 300;
    letter-spacing: 0.085rem;
    text-align: justify;
    line-height: 2.9rem;
}

.layout-columns_about {
    margin-top: 48px;
}

.card-person {
    max-width: 300px;
}

.card-person__name {
    margin-top: 15px;
    margin-bottom: 0;
    letter-spacing: -0.4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
}

.card-person__description {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: justify;
}

.social-networks {
    margin-top: 21px;
}

.social-networks__icon:not(:first-child) {
    margin-left: 5px;
}

.social-networks__icon {
    height: 20px;
    width: 20px;
    border: 1px solid #666d89;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.social-networks__icon:hover {
    color: white;
}
