html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
}

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #2d303a;
    font-weight: 700;
}

.header > .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 9.5rem;
    margin: 0 3.7rem;
}

.header__navigation, .logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

.logo {
    font-size: 2.4rem;
    margin-bottom: 1rem;
    margin-left: 2px;
}

.logo > span {
    color: #f06c64;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu__item {
    list-style-type: none;
    margin: 0.2rem 0 0 2.9rem;
    font-size: 1.2rem;
}

.menu__item > a {
    color: white;
    text-decoration: none;
}

.menu__item > a:hover {
    color: #f06c64;
}

